.profile{
    width: 100%;
}

img{
    height: 10vh;
    width: auto;
}   

.prof-header {
    display: grid;
    grid-template-columns: auto auto;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#topic-list{
    display: grid;
    margin-left: 0;
}

.list-item{
    display: grid;
    grid-template-columns: auto;
    grid-row: 1fr auto;
}

.topic-header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content:end;
}

.topic-header>input{
    background-color: rgb(189, 189, 189);
}

.topic-header>*{
    text-align: left;
}

.base.list-item{
    color: #ffa6a6;
}

.middle.list-item{
    color: #fdd5d5;
    margin-left: 5vw;
}

.final.list-item{
    color: #ffffff;
    margin-left: 5vw;
}

.proj-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.proj-card{
    display: grid;
    align-items: center;
    background-color: #4901916b;
    border: 2px solid #4901916b;
    color: #ffffff;
    border-radius: 10px;
    width: 40vw;
    margin: 10px 10px;
    transition-duration: 0.2s;
}

.proj-card:hover{
    background-color: #490191;
    border: 2px solid #644880;
}

.card-header{
    display: block;
    text-align: center;
    text-transform: uppercase;
}

.card-item{
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    border-bottom: 1px dashed #644880;
}

.card-item>*{
    margin: 0 0;
}

.card-item>h4{
    text-transform: uppercase;
    font-style: italic;
}

.card-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card-footer>div{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
